html{
	background-color:#47484A;
}

body{
	font:14px/1.0 'Segoe UI',Arial, sans-serif;
	font-family:'Open Sans Condensed',sans-serif;
	background: none;
	color: #000;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}
a:hover{text-decoration:underline;}
/* ************************************************************* */
.jumbotron {
    background-color: transparent;
}
#texto{
	color: red;
	margin: 0 auto;
  font-size: 60px; /*psarlo a @media*/
	min-height: 60px;
	color: #57585B;
	text-shadow:1px 1px 0 rgba(255,255,255,0.7);
}
/*#texto:before{
	content: ">";
  font-size: 50px; /*psarlo a @media* /
	left: -40px;
	/*opacity: 0.25;* /
	text-shadow: 1px 1px 0 white;
}*/
/* ************************************************************* */
.well{
	margin-top: 10px;
	border-radius: 0px;
}
