@media (max-width: 575.99px) {
  .header .action{ text-align: center !important; }
}
@media (min-width: 576px) {
  .header .action{ text-align: right !important; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .header .intro p{	padding: 0 150px; }
  .menu{ padding-bottom: 0; }
}
@media (min-width: 1200px) {
}
